<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    [v-cloak] {
      display: none;
    }

    .red {
      color: red;
    }

    .bold {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div v-cloak id="myapp">
    <ul>
      <li v-for="d in d1">{{d}}</li>
      <li v-for="(k,d) in d2">{{k}} - {{d}}</li>
      <li v-for="(d,index) in d3">{{index}} - {{d.name}} - {{d.score}}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    setTimeout(() => {
      const vm = new Vue({
        el: '#myapp',
        data: {
          d1: ['a', 'b'],
          d2: { k1: 'v1', k2: 'v2' },
          d3: [
            { name: 'taguchi', score: 62 },
            { name: 'fkoji', score: 84 }
          ]
        }
      })
    }, 500);
  </script>
</body>

</html>
